<div class="theResume">
    
    <!-- 
    <div *ngIf="enableOffer; else resume"> <pre>{{ offer }}</pre></div>
    <ng-template #resume *ngIf="enableHtml; else originTemplate" [innerHTML] = "result" > </ng-template>
    <ng-template #originTemplate>
      <pre>{{ result }}</pre>
    </ng-template> 
    -->

    <!-- structure directive by enableHtml -->


    <div *ngIf="enableHtml; else Template1" [innerHTML]="result"></div>

    <ng-template #Template1 >
        <pre>{{ result }}</pre>
    </ng-template> 
</div>
  
  